body { font-family: Arial, Helvetica, sans-serif; margin: 0;}
#ligne1, #ligne2 {display: flex; float: left;}


.bloc {display: block; height: 50vh; width: 50vw; }

#ligne1 > div:nth-child(1) , #ligne2 > div:nth-child(2) {background-color: #245580 ;}

#ligne1 > div:nth-child(1) > hi:nth-child(1) {color : #ffffff; font-size: 80px;font-weight: 700; }

#ligne1 > div:nth-child(1) {text-align: center; justify-content :center ; } /* !!!! */

#ligne1 > div:nth-child(2) , #ligne2 > div:nth-child(1) {color :#245580;} 

#ligne2 > div:nth-child(1) > h2:nth-child(1) {text-align: center !important;} 





